@model Shared.DTOs.ClientSecretDto
<div class="row">
    <div class="form-group col-md-6">
        <label class="font-size-h6 font-weight-bolder text-dark">Secret Type</label>
        <select asp-for="type" class="form-control form-control-solid form-control-lg">
            <option value="SharedSecret" selected>SharedSecret</option>
            <option value="X509Thumbprint">X509Thumbprint</option>
            <option value="X509Name">X509Name</option>
            <option value="X509CertificateBase64">X509CertificateBase64</option>
        </select>
    </div>
    <div class="form-group col-md-6">
        <label class="font-size-h6 font-weight-bolder text-dark">Hash Type</label>
        <select asp-for="hashtype" class="form-control form-control-solid form-control-lg">
            <option value="0" selected>Sha256</option>
            <option value="1">Sha512</option>
        </select>
        <span class="form-text text-danger">HashType will be applicable only for the SharedSecret.</span>
    </div>
</div>
<div class="form-group">
    <label class="font-size-h6 font-weight-bolder text-dark">Secret Value</label>
    <div class="input-group">
        <input type="text" class="form-control py-7 px-6 border-0 rounded-md font-size-h6 form-control-solid" asp-for="value" value="@Guid.NewGuid().ToString()" />
        <div class="input-group-append">
            <button type="button" id="generate-guid-button" class="btn btn-success"><span class="flaticon-refresh"></span></button>
        </div>
    </div>
</div>

<div class="form-group">
    <label class="font-size-h6 font-weight-bolder text-dark">Expiration</label>
    <input type="text" class="form-control py-7 px-6 border-0 rounded-md font-size-h6 form-control-solid datepk" asp-for="expiration" value=""/>
</div>
<div class="form-group">
    <label class="font-size-h6 font-weight-bolder text-dark">Description</label>
    <input type="text" class="form-control py-7 px-6 border-0 rounded-md font-size-h6 form-control-solid" asp-for="description" value="" />
</div>
